<h1>Blogs</h1>
<hr/>

<%= search_form_for @search do |f| %>
  <%= f.label :title_or_content_cont %>
  <%= f.search_field :title_or_content_or_user_name_cont %>
  <%= f.submit %>
<% end %>
<%= link_to "Reset Search", blogs_path %>

<% @blogs.each do |blog| %>
  <h2><%= blog.title %></h2>
  <body><%= blog.content %></body>
  <br>
  <td><%= link_to 'Show', blog %></td>
  <% unless current_user.nil? %>
    <% if blog.user_id == current_user.id %>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Destroy', blog, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <% end %>
  <% end %>
  <hr/>
<% end %>

<br><br>
<% unless current_user.nil? %>
  <%= link_to 'New Blog', new_blog_path %>
<% end %>
<%= link_to 'Home Page', home_index_path %>

