<h1>Blogs</h1>
<hr/>

<% @blogs.each do |blog| %>
  <h2><%= blog.title %></h2>
  <body><%= blog.content %></body>
  <br>
  <td><%= link_to 'Show', blog %></td>
  <% if blog.user_id == current_user.id %>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: {confirm: 'Are you sure?'} %></td>
  <% end %>
  <hr/>
<% end %>

<br><br>

<%= link_to 'New Blog', new_blog_path %>
<%= link_to 'Home Page', home_index_path %>

