<h1><%= @blog.title %></h1>
<body><%= @blog.content %></body>
<br><br>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<br><br>
<h2>Comments</h2>
<%= render @blog.comments %>

