<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <% unless comment.user.nil? %>
          <% if comment.user.photo.present? %>
            <%= image_tag comment.user.photo.url(:thumb) %>
          <%else %>
            <%= image_tag("missing.jpg",:size => 20) %>
          <% end %>
          <strong><%= comment.user.name %></strong>
        <%else %>
          <%= image_tag("missing.jpg",:size => 20) %>
          <strong>Anonymous User</strong>
        <% end %>
        <p><%= comment.text %></p>
        <% if comment.photo.present? %>
          <p><%= image_tag comment.photo.url(:medium) %></p>
        <% end %>
        <% unless current_user.nil? %>
          <% if comment.user.id == current_user.id %>
              <%= link_to 'Destroy', blog_comment_path(comment.blog_id, comment.id), method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
</div>

